body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 700px;
    height: 90vh;
    border-radius: 20px;
    background-color: tomato;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.up{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    height: 40vh;
    background-color: aqua;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}

img{
    margin-top: 100px;
    width: 200px;
    height: 200px;
    border-radius: 200px;
    border: solid 5px aqua;
}
p{
    font-size: 2rem;
    background-image: url('nature1.png');
    background-size: contain;
    background-clip: text;
    color: transparent;
}

#b{
    font-size: 2rem;
    background-image: url('nature1.png');
    background-size: contain;
    background-clip: text;
    color: transparent;
    margin: 0px;
}
.down{
    display: inline-block;
    text-align: center;
}

button{
    background-color: blue;
    border: none;
    font-size: 1.5rem;
    border-radius: 5px;
    margin: 10px;
}
a{
    text-decoration: none;
    color: white;
}
button:hover{
    opacity: 0.8;
    cursor: pointer;
}